[submodule "ext/libdatachannels"]
	path = ext/libdatachannels
	url = https://github.com/medooze/libdatachannels.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
