name: media-server-unit-tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'
    - name: Initialize submodules
      run: git submodule update --init --recursive
    - uses: actions/checkout@v1
    - name: Install pre-requisite package
      run: sudo apt-get install -y libavcodec-dev libx264-dev libavutil-dev libvpx-dev
    - name: Configure
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release ..
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2.0.0
      id: cpu-cores
    - name: make
      run: cd build && make -j${{ steps.cpu-cores.outputs.count }} 
    - name: Run Test
      run: cd build && ./MediaServerUnitTest
